/* Target specific elements */
.previewSongContainer,
.previewSongInfor,
.previewSongInforContainer,
.audioControl {
  display: flex;
}
.previewSongContainer {
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 0 20px;
  left: 0;
}
.previewSongCover {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 5px;
}

.preview {
  color: #3a3a3c;
  font-size: 10px;
}
.previewSongName {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.previewArtist {
  color: #3a3a3c;
  font-size: 14px;
}

.previewSpotifyLogo {
  width: 70px;
}
.audioControl {
  width: 100%;
  align-items: center;
  gap: 30px;
}
.customPlayer {
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
.rhap_container {
  box-shadow: none;
  background-color: transparent;
}
.rhap_main-controls-button,
.rhap_container svg,
.rhap_volume-bar {
  color: #000;
}

.rhap_progress-indicator,
.rhap_progress-filled,
.rhap_volume-bar,
.rhap_volume-indicator {
  background: #000;
}
.rhap_repeat-button {
  display: none;
}

.rhap_volume-container,
.previewSpotifyContainer,
.rhap_time {
  display: none;
}
.previewSongInfor {
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
}
@media (min-width: 768px) {
  .rhap_volume-container {
    display: flex;
  }
  .rhap_time {
    display: block;
  }
  .previewSpotifyContainer {
    display: flex;

    align-items: center;
    justify-self: center;
    border-radius: 999px;
    margin-top: -13px;
    margin-left: 11px;
    width: 73px;
    height: 24px;
  }
  .previewSongInfor {
    width: 190px;
  }
}
