:root {
  --about-bg: linear-gradient(135deg, #00c1ff, #0088ff);
  --main-clr: #ffffff;
  --heading-fontsize: 1.5rem;
  --websiteDescr-fontsize: 1.125rem;
  --instructions-fontsize: 1.125rem;
  --aboutContainer-top-padding: 3.75rem;
}
.aboutContainer {
  width: 100%;
  justify-content: center;
  background: var(--about-bg);
  padding-top: var(--aboutContainer-top-padding);
  padding-bottom: 3.75rem;
}
.aboutContainer,
.aboutWrapper {
  display: flex;
}
.aboutWrapper {
  color: var(--main-clr);
  width: 90%;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  min-width: 45ch;
}
.heading {
  font-size: var(--heading-fontsize);
  margin-bottom: 10px;
  text-align: center;
}
.websiteDescr {
  font-size: var(--websiteDescr-fontsize);
}
.buttonWrapper {
  /*This is to prevent main page animations froms slipping through */
  position: relative;
  z-index: 1;
}

.audioDetectionLink {
  background: linear-gradient(135deg, #009eeb 0%, #0066cc 100%);
  width: clamp(150px, 15vw, 400px);
  height: clamp(150px, 15vw, 400px);
  padding: 12px;
  border-radius: 50%;
  animation: detectionLink 1s infinite alternate;
  z-index: 1;
  cursor: pointer;
}
.instructions {
  text-align: center;
  margin-top: 16px;
  font-size: var(--websiteDescr-fontsize);
  font-weight: bold;
}
@keyframes detectionLink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.songInforContainer {
  color: #000;
  background-color: #fff;
  width: max-content;
  max-width: 245px;
  min-width: 100px;
  border-radius: 0.9375rem;
  position: absolute;
  left: -70px;
  top: -110px;
  z-index: 1;
  font-weight: 700;
  text-align: left;
}

.songInforWrapper {
  position: relative;
  padding: 1.25rem;
}
.closeBTN {
  position: absolute;
  right: 0.125rem;
  top: 0.0625rem;
}
.xIcon {
  width: 20px;
  height: 20px;
  color: #3a3a3c;
}
.songCover {
  width: 90px;
  max-width: 100%;
  border-radius: 8px;
}
.songContainer,
.songData {
  display: flex;
  flex-direction: column;
}
.songContainer {
  align-items: center;
  justify-content: center;
}
.songData {
  margin-top: 12px;
}
.songName {
  margin-top: 500;
  font-weight: 400;
}

@media (min-width: 768px) {
  :root {
    --heading-fontsize: 1.875rem;
    --aboutContainer-top-padding: 7.5rem;
  }
  .aboutWrapper {
    flex-direction: row;
    justify-content: space-around;
  }
  .songInforContainer {
    left: -170px;
    top: -70px;
  }
}

@media (min-width: 1024px) {
  :root {
    --heading-fontsize: 3.125rem;
    --websiteDescr-fontsize: 1.25rem;
    --instructions-fontsize: 1.25rem;
  }
  .aboutWrapper {
    gap: 0px;
  }
  .songInforContainer {
    left: -150px;
    top: -50px;
  }
}
