:root {
  ---btn-width: min(80%, 350px);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: var(---btn-width);
  font-weight: bold;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 10px;
}
